# Byte-compiled / optimized / DLL files
__pycache__/
# Jupyter Notebooks
.ipynb_checkpoints/

# HPC Job Submission Scripts
submit_gait.sh
*.o*
*.e*
*.py[cod]
*$py.class

# PyTorch
*.pth
*.pt
*.ckpt

# Datasets
Datasets/
dataset/
data/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Plots
*.png
*.jpg

# Cache
cache/

# Logs
*.log
out.log
